
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      background-color: #1b1b32 ;
      min-height: 100vh;
      display: flex;
      align-items: center;
      font-family: 'Lato', sans-serif;

  }
  .container{
      background-color: white;
      width: 500px;
      margin: 0 auto;
      border-radius: 5px;
      overflow: hidden;
      max-width: 100%;
      padding: 20px;
  }
  .header{
      padding: 10px;
      font-family: 'Ubuntu', sans-serif;
    
  }
  
  
  
  
  #title{
    text-align: center;
    margin-bottom: 5px;
    
    
  }
  #description{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
  }
  #survey-form{
      padding: 30px 40px;
  }
  .form-group{
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
   
  }
  .form-group label{
    display: inline-block;
    margin-bottom: 5px;
  }
  .form-group input{
    border: 2px solid #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size:14px;

  }
  
  #description{
      font-size: 14px;
  }
  
  
  #dropdown{
    border-radius: 4px;
    width: 100%;
    line-height: 40px;
    padding: 10px;
  }

     
      

  .radio-label{
    display: block;
    padding: 5px 0 ;
    width: 100%;
    font-size: 14px;
  }
  #improve{
    margin-bottom: 5px;
  }
  .check-label{
      padding: 5px 0px;
      display: block;
      width: 100%;
      font-size: 14px;
  }
  .input-radio{
      color:red;
      display: inline;
      float: left;
  }
  #input{
    display: inline;
  }
  .input-checkbox{
      display: block;
      width: 100%;
    
  }
  .checkbox{
    width: 50px;
    
  }
.checklabel{
    width: 50px;
}
  
  #question{
      margin-bottom: 5px;
      font-weight: bold;
      color:#1b1b32;
          
      }
  #comments{
    border-radius: 10px;
    height: 150px;
    width: 90%;
    padding: 10px;
    margin: 5px auto 0px;
    font-size: 16px;
    font-family: 'open sans' sans-serif;
  }
  #submit{
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #1b1b32;
    border : 2px solid #1b1b32;
    color: #fff;
    border-radius: 4px;
    font-size: 24px;
  }
  #submit:hover{
    background-color: green;
  }

  /* @media only screen and (max-width: 900px) {
    .container{
        background-color:rgb(189, 148, 99);
    }
    #submit{
        background-color:#000;
        color: #fff;
    }
  
      
  } */



